* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background-color: #0F172A;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
}

aside {
    width: 250px;
    background-color: #0B1220;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 0 15px rgba(0,0,0,0.3);

        width: 250px;
    background-color: #0B1220;
    padding: 22px;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    overflow-y: auto;
}

aside ul {
    padding: 0;
}

aside li {
    list-style: none;
    margin: 12px 0;
}

aside a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 14px;
    transition: 0.3s ease;
    border-radius: 7px;
}

aside a:hover {
    background-color: #111C33;
}

aside a.active {
    background-color: #111C33;
    border-left: 4px solid #4DA6FF;
}


main {
    flex: 1;
    background-color: #0F172A;
    padding: 40px;
      margin-left: 250px; 
    padding: 40px;
}


header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("Izuku Midoriya.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px;
    border-radius: 15px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    font-weight: 600;
}

header p {
    color: #9CA3AF;
    margin-top: 10px;
    font-size: 18px;
}


.stats {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: #111C33;
    padding: 30px;
    border-radius: 12px;
    flex: 1;
    transition: 0.3s ease;
    opacity: 0;
    animation: fadeUp 0.6s ease forwards;
}

.card:nth-child(1) { animation-delay: 0.2s; }
.card:nth-child(2) { animation-delay: 0.4s; }
.card:nth-child(3) { animation-delay: 0.6s; }
.card:nth-child(4) { animation-delay: 0.8s; }

.card h3 {
    font-size: 14px;
    font-weight: 500;
    color: #9CA3AF;
}

.card p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: #4DA6FF;
}

.card:hover {
    transform: translateY(-5px);
}


.progress-bar {
    height: 8px;
    border-radius: 50px;
    background-color: #111C33;
    margin-top: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #4DA6FF;
    width: 0%;
    animation: loadProgress 1.5s ease forwards;
}

.progress-section p {
    color: #9CA3AF;
}

.progress-section h2,
.inspiration h2 {
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 8px;
}


.inspiration {
    background: #111C33;
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
}

.inspiration p {
    font-style: italic;
    color: #9CA3AF;
}

.inspiration span {
    display: block;
    margin-top: 10px;
    font-weight: 600;
    color: #4DA6FF;
}

.videos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.video-card {
    background: #111C33;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s ease;
}

.video-card iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.video-card p {
    margin-top: 10px;
    color: #9CA3AF;
}

.video-card:hover {
    transform: translateY(-5px);
}

.subtitle{
    font-size: 14px;
    color: #1b346a;
}

.timer-card{
    background: #111C33;
    padding: 40px 20px;
    border-radius: 20px;
    width: 1200px;
    margin: 10px auto;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* modes buttons */
.timer-modes{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    
}

.mode{
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    background: #1A2747;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.mode.active{
    background: #2E8B57;
}

/* time */
.time{
    font-size: 90px;
    font-weight: bold;
    color: #EAEAEA;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

/* controls */
.timer-controls{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.start-btn{
    background: #F5A623;
    color: #000;
    border: none;
    padding: 15px 40px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.start-btn:hover{
    transform: scale(1.05);
}

.reset-btn{
    background: #1A2747;
    color: #fff;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
}

@keyframes loadProgress {
    from { width: 0; }
    to { width: 30%; }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .stats {
        flex-direction: column;
    }

    aside {
        display: none;
    }

    main {
        padding: 20px;
    }
}